*{
	max-width: 970px;
	background-color: white;
	/*outline: green dotted thin;*/
	padding: 0;
	margin: 0;
}
body{
	margin: 100px;
	min-width: 700px;
	border: 2px solid black;
	min-height: 400px;
}
.fieldtext{
	display: inline-block;
	width: 200px;
	vertical-align: top;
	margin: 10px;
	height: 400px;
}
.fieldtext, h3{
	padding: 10px;
}
.inputfields{
	display: inline-block;
	max-width: 200px;
	vertical-align: top;
	margin: 25px;
}
.inputfields, input, select, textarea{
	padding: 5px;
	margin: 10px;
}
textarea{
	width: 400px;
	height: 100px;
	display: block;
	vertical-align: bottom;
}
h1{
	text-align: center;
	margin-top: 20px;
}
.resultbox{
	margin-left: 40px;
}
